@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap");
body {
  background-color: antiquewhite;
  background-color: orange
}
* {
  margin: 0;
  padding: 0;
}
nav {
  font-family: "Ubuntu", sans-serif;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: black;
  background-color: purple;
  color: white;
}
nav ul li {
  padding: 0 25px;
}
.brand img {
  width: 44px;
  padding: 8px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}
.container {
  min-height: 62vh;
  background-color: black;
  color: white;
  font-family: "Varela Round", sans-serif;
  display: flex;
  margin: 23px auto;
  width: 70%;
  border-radius: 12px;
  padding: 34px;
  background-image: url("bg3.jpg");
}
.bottom {
  position: sticky;
  height: 100px;
  background-color: black;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.icons {
  margin-top: 14px;
}
.icons i {
  cursor: pointer;
}

#myProgressBar {
  width: 80%;
  cursor: pointer;
}
.songItemContainer {
  margin-top: 70px;
}
.songItemContainer :hover {
  background-color: yellowgreen;
}
.songItem {
  height: 50px;
  width: 80%;
  background-color: white;
  display: flex;
  color: black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 23px;
  padding-right: 2px;
}

.songItem img {
  width: 40px;
  margin: 0 23px;
  border-radius: 34px;
  border: 4px solid white;
}

.timeStamp {
  margin: 0 23px;
}
.timeStamp i {
  cursor: pointer;
}
.songInfo {
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  left: 0;
  font-family: "Varela Round", sans-serif;
}
.songInfo img {
  
  opacity: 0;
  transition: opacity 1s ease-in;
}
